<div class="container">
  <div id="content">
    <div class="row">

      <div class="span9">
        <div class="page_body">
          <h1>Create Account</h1>
          <form id="create_account_form" action="" method="POST">
            <input type="hidden" name="next" value="{next}" />
            {form|s}
            <div class="actions">
              <input class="btn" type="reset" value="Clear" />
              <input class="btn primary" type="submit" value="Sign up" />
            </div>
          </form>
        </div>
      </div>

      <div id="sidebar" class="span4">
        <p>Lorem.</p>
      </div>

    </div>
  </div>
</div>
