<div id="pages_outer" style="position: relative;">
	<div class="show-grid" id="pages_grid"></div>
    <div class="show-grid not-sortable">
        <div class="grid-item add-page-item" id="add_page_item">
            <a class="btn add-page-btn" data-toggle="modal" data-target="#add_page_modal">Drag and drop link to this window or click here to add a page!</a>
        </div>
        <div class="grid-item add-page-item" id="trash_item" style="visibility: hidden;">
            <btn class="btn add-page-btn" data-toggle="modal" data-target="#add-page-modal">
            <i class="icon-trash"></i><br />Drop here to delete!</btn>
        </div>
    </div>
</div>