<div class="grid-item page-item">
    <div class="remove-parent">
        <div class="remove-container"><a class="btn remove-btn" href="#"><i class="icon-remove"></i></a></div>
        <div class="info-container"><a class="btn info-btn" rel="tooltip" data-placement="top" title="Vists: {visited_count}"><i class="icon-signal"></i></a></div>
        <a href="#" rel="tooltip" data-placement="top" title="{page_title}" class="page-item-tooltip">
            <img src='http://5.42.162.89:8090/magick/img?width=216&height=126&url={page_url|uc}' class="page-item-image"/>
        </a>
    </div>
</div>