{>"duality-contrib-session/session.html"/}
<div class="pagination-centered">
    <div style="position: relative;">
        <div style="position: absolute; top: 10px; left: 4px;">
            <i class="icon-th" style="margin-top: -1px;"></i><strong style="font-size: 18px;">HomeTab</strong><em style="font-family: 'Courier New'; font-size: 12px; color: blue;">BETA</em>
        </div>
        <div style="position: absolute; top: 4px; right: 54px;">
            <a class="btn" style="" title="Unlock Drag'n'Drop"><i class="icon-lock" id="dndLock"></i></a>
        </div>
        <div style="position:absolute; top: 4px; right: 4px;">
            <a class="btn" style="" data-toggle="modal" data-target="#optionsModal" title="Options"><i class="icon-cog"></i></a>
        </div>
        <form id="searchForm">
            <input type="text" name="q" size="31" maxlength="255" value="" placeholder="Search..."/>
        </form>
    </div>
</div>