<div class="pagination-centered">
    <div id="topbar" style="position: relative;">
        <div class="imprint">
            <i class="icon-th"></i><strong>HomeTab</strong><em>BETA</em>
        </div>
        <form id="search_form">
            <input type="text" name="searchQuery" value="" placeholder="Search..."/>
        </form>
        <div class="dnd">
            <a class="btn" title="Unlock Drag'n'Drop"><i class="icon-lock" id="dnd_lock"></i></a>
        </div>
        <div class="options">
            <a class="btn" data-toggle="modal" data-target="#user_options_modal" title="Options"><i class="icon-cog"></i></a>
        </div>
    </div>
</div>