<div class="modal hide fade" id="user_options_modal">
	<table>
	    <tr>
	    	<td>tzlist</td>
	    </tr>
	    <tr>
	    	<td>Sort style: Save search history </td>
	    </tr>
	    <tr>
	    	<td>Box size: <div id="sizeSlider"></div>
	    	</td>
	    </tr>
	    <tr>
	    	<td style="text-align: center;">
	    		<a href='http://www.yourethemannowdog.com/'>Change Password</a>
	    	</td>
	    </tr>
	    <tr>
	    	<td style="text-align: center;">
	    		<a href='#' id="logoff_link">Log Off</a>
	    	</td>
	    </tr>
	</table>
</div>